<!DOCTYPE html>
<!-- Last Published: Sat Nov 06 2021 19:16:29 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="www.tikitoken.finance" data-wf-page="60c938e3e8562bd8b831b7fb" data-wf-site="60c7783699e1051d74062f79">
<head>
    <meta charset="utf-8"/>
    <title>FATBULL</title>
    <meta content="WORLDS FIRST , Holder's Dividend token" name="description"/>
    <meta content="FATBULL - WORLDS FIRST , Holder's Dividend token" property="og:title"/>
    <meta content="FATBULL - WORLDS FIRST , Holder's Dividend token" property="twitter:title"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://uploads-ssl.webflow.com/60c7783699e1051d74062f79/css/tikitoken.webflow.80f52d1c2.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
    WebFont.load({
        google: {
            families: ["Poppins:300,regular,500,600,700"]
        }
    });
    </script>

    <link href="https://res.cloudinary.com/dul4zjvcc/image/upload/v1637254214/WhatsApp_Image_2021-11-18_at_9.24.56_PM_wnhmbe.jpg" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://res.cloudinary.com/dul4zjvcc/image/upload/v1637254214/WhatsApp_Image_2021-11-18_at_9.24.56_PM_wnhmbe.jpg" rel="apple-touch-icon"/>

</head>
<body class="body" style="background-color: #48147d;">
    <div class="no-overflow-wrapper">

        <div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="3ecf21bc-5b40-15ed-4dc8-7d999a2afffd" data-easing="ease" data-easing2="ease" role="banner" class="nav hide w-nav text-span" style="background-color:#d92838;">
            <div class="container nav-cont">
                <a href="/" aria-current="page" class="brand w-inline-block w--current">
                    <img src="https://res.cloudinary.com/dul4zjvcc/image/upload/v1637254214/WhatsApp_Image_2021-11-18_at_9.24.56_PM_wnhmbe.jpg" loading="lazy" sizes="50px" srcset="https://res.cloudinary.com/dul4zjvcc/image/upload/v1637254214/WhatsApp_Image_2021-11-18_at_9.24.56_PM_wnhmbe.jpg" alt="" style="border-radius: 30px;" class="logo-img"/>
                    <div class="logo-text">FATBULL</div>
                </a>
                <nav role="navigation" class="nav-menu w-nav-menu">
             
                
                </nav>
             
            </div>
        </div>
        <div id="1" class="section _400-padding hero-color" style="margin-top: 0px;">
            <div class="container hero-cont">
                <div class="hero-wrapper">
                    <div class="hero-content">
                        <h1 class="heading">
                            WORLDS 
                            <span class="text-span">FIRST</span>
                            ,
                            <br/>
                            Holder's
Dividend token
                        </h1>
                        <p class="paragraph hero-p">
							NOW RECEIVE YOUR 8% DIVIDENDS ON EVERY <br>BUY/SELL IN WHICH EVER TOKEN YOU WISH FROM PANCAKE SWAP                            <br/>
                            <br/>
                        </p>
                        <div class="_2btns">
                        
                            <a href="#" target="_blank" class="hero-button ghost w-inline-block">
                                <div>
                                    <strong class="bold-text" style="font-size: 20px;">COMING SOON</strong>
                                </div>
                            </a>
                            
                           
                        </div>
                    </div>
                    <div class="hero-image-wrapper">
                        <!-- <img src="https://res.cloudinary.com/dul4zjvcc/image/upload/v1637254214/WhatsApp_Image_2021-11-18_at_9.24.56_PM_wnhmbe.jpg" loading="lazy" data-w-id="2e9c83f6-b562-5ead-263b-8779b2f4a99a" width="400" alt="" class="hero-img" style="border-radius: 350px;"/> -->
                        <img src="./images/logo.png" loading="lazy" data-w-id="2e9c83f6-b562-5ead-263b-8779b2f4a99a" width="350px" alt="" style="border-radius: 0px;"/>

                    </div>
                </div>
         
            </div>
           
        </div>
       

     
    </div>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=60c7783699e1051d74062f79" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://uploads-ssl.webflow.com/60c7783699e1051d74062f79/js/webflow.b13c1a940.js" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>

